.Novinka{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    width: 410px;
}


.Novinka h3{
    /*border: 5px solid orange;*/
    border-radius: 16px;
    background-color: black;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 15px;
    height: 40px;
    width: 385px;
    display: inline-block;
    font-family: Futura PT;
}
.Novinka p{
    /*border: 5px solid orange;*/
    border-radius: 16px;
    margin: 0;
    background-color: black;
    height: 120px;
    padding-left: 15px;
    padding-top: 10px;
    width: 385px;
    display: inline-block;
    margin-top: 364px;
    
}

.Novinka img ::before{
  content: "";
  position: absolute;
  z-index: 2;
  background-color:blue;
  bottom: -50px;
  height: 500px;
  width: 250px;
  border-top-left-radius: 25px;
  box-shadow: 0 -25px 0 0 #F66969;

}


.Novinka img{
    /*border: 5px solid orange;*/
    clip-path: path("M0 0V384C0 379.582 3.58173 376 8 376H16H384H392C396.418 376 400 379.582 400 384V0C400 4.41828 396.418 8 392 8H384H16H7.99998C3.58171 8 0 4.41828 0 0Z");
    margin-top: -22px;
    position: absolute;
    z-index: -1;
    top:85px;  
    left:10px;
}
/**/


.animate {
  width: 420px;
  height: 495px;
  margin: 100px auto;
  border-radius: 24px;
  scale: 0.72;
  
}

.animate .Novinka {
    margin-bottom: 25px;
  padding: 25px;
  color: #fff;
  z-index: 1;
}



.animate
 {
  height: 590px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

animate .Novinka
 {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
}

animate .Novinka {
  margin: 5px;
}

.animate::before {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    #FF8A09 0%,
    #930104 100%
  );
  height: 800px;
  width: 800px;
  position: absolute;
  animation: rotate 8s linear infinite;
  z-index: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}